/*Genral*/
* {
  margin: 5px;
  padding: 2px;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal; 
    background-color: rgb(255, 255, 255);
}
html{
  scroll-behavior: smooth;
}
p{
  color:rgb(6, 6, 6);
}
h1 {
  font-size: 5rem;
  color: rgb(230, 40, 227);
  margin: 0; /* Remove default margin */
  padding: 0.5rem; /* Add padding if needed */
}
.Header{
  display: flex;
  align-content: center;
  justify-content: center;
}

.week-button-container {
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to new lines if needed */
  justify-content: center; /* Center items horizontally */
  justify-items: center;
  padding: 1rem; /* Add padding if needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  
}

.button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem; /* Adjust padding for better fit */
  margin: 0.5rem; /* Add margin between buttons */
}

.on {
  outline: black 2px solid;
  background-color: rgb(230, 40, 227);
}

.off {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Responsive design adjustments */
@media (max-width: 600px) {
  h1 {
    font-size: large;
  }

  .button {
    padding: 0.25rem 0.5rem; /* Adjust padding for smaller screens */
    margin: 0.25rem;
  }
}
/* Nav.css */


nav {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hamburger-icon {
  cursor: pointer;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hamburger-icon .bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger-icon.open .bar:nth-child(1) {
  opacity: 0;
}

.hamburger-icon.open .bar:nth-child(2) {
 
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: max-height 0.3s, opacity 0.3s;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.menu-links.open {
  max-height: 200px; /* Adjust as necessary */
  opacity: 1;
}

.menu-links.collapsed {
  max-height: 0;
  opacity: 0;
}

.menu-links a {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu-links a.active {
  font-weight: bold;
  color: rgb(230, 40, 227);
}

li{
  list-style-type:none;
  color: rgb(230, 40, 227);
}
.exercise-button {
  font-weight: bold;
  background:none;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0); /* Change to your desired color */
  text-decoration: none; /* Remove underline if desired */
}

.exercise-button:hover {
  text-decoration: underline;
  color: rgb(230, 40, 227); /* Change color on hover */
  text-decoration: underline; /* Add underline on hover if desired */
}
.workout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exercise-results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exercise-button{
  display: flex;
  align-content: center;
  justify-content: center;
}

.weekdays-description{
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;
}
.weekdays-tip{
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  color:rgb(230, 40, 227) ;
}
.restday{
  color:rgb(230, 40, 227) ;
  font-weight: normal;
  font-size: 1.25rem;
}

.homepage-description{
  padding-bottom: 2rem;
}